.error-alert {
  z-index: 9999999 !important;
  &__popup {
    border-radius: 12px;
    padding: 25px 20px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  &__title {
    color: #555;
    font-family: "Playfair Display", serif;
    font-size: 2.4em;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 20px;
    scroll-margin-top: 100vh;
  }
  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
  }
  &__confirmBtn {
    background-color: #033e72;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #2a8ee5;
      outline: none;
    }
  }
}

.success-alert {
  z-index: 9999999 !important;
  &__popup {
    border-radius: 12px;
    padding: 25px 20px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  &__title {
    font-family: "Playfair Display", serif;
    font-size: 2.4em;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 20px;
    scroll-margin-top: 100vh;
  }
  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
  }
}

.delete-alert {
  z-index: 9999999 !important;
  &__popup {
    border-radius: 12px;
    padding: 25px 20px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  &__title {
    color: #555;
    font-family: "Playfair Display", serif;
    font-size: 2.4em;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 20px;
    scroll-margin-top: 100vh;
  }
  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
  }
  &__deleteBtn {
    background-color: #d33;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1em;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease;

    &:hover {
      background-color: #ff4d50ec;
      transform: translateY(-2px);
      outline: none;
    }

    &:active {
      transform: translateY(0);
    }
  }

  &__cancelBtn {
    background-color: #f0f0f0;
    color: #555;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1em;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #e0e0e0;
      transform: translateY(-2px);
      outline: none;
    }

    &:active {
      transform: translateY(0);
    }
  }
}
