@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

header {
  background-color: #fff;
  border-bottom: 1px solid gainsboro;
  position: sticky;
  top: 0;
  z-index: 1000;
  nav {
    border-bottom: 1px solid gainsboro;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em 2em;
    max-width: 1200px;
    margin: 0 auto;
    .search-wrap {
      display: flex;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      &__open-modal-btn {
        background-color: transparent;
        color: rgb(46, 45, 45);
        cursor: pointer;
        border: 1.5px solid transparent;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        .search-icon {
          display: inherit;
          width: 19px;
          fill: #555;
        }
      }
    }
    .logo-container {
      font-family: var(--Brittany);
      font-size: 28px;
      font-weight: 700;
      text-shadow: 2px 2px 10px #555;
      .logo-link {
        color: #033e72;
        display: flex;
        align-items: baseline;
        gap: 6px;
        text-decoration: none;
        &__brand {
          font-style: italic;
        }
        &:hover {
          color: #cd9700;
          text-shadow: none;
          transition: color 0.3s ease;
        }
      }
    }
    .categoryMenuBtn {
      background-color: transparent;
      border: none;
      display: none;
      svg {
        width: 3em;
        fill: #555;
      }
    }
    &.onlyLogo {
      justify-content: center;
      border-bottom: none;
    }
  }
}

.category-list {
  h2 {
    display: none;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 13.6px;
  a {
    padding: 1em 0;
    position: relative;
    display: inline-block;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2.55px;
      background-color: #033e72;
      transition: width 0.3s ease-in-out;
    }

    &:hover::before {
      width: 100%;
    }
    li {
      margin: 0 auto;
    }
  }
}

/* .banner {
    width: 100%;
    height: clamp(300px, 70vh, 600px);
    position: relative;
    overflow: hidden;
    user-select: none;
    z-index: -1;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
  }
  /* &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3)
    );
  } 

  .blog-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 1rem;
    z-index: 1;
    max-width: 90%;
    color: #fff;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-family: var(--Olivia);
    letter-spacing: 2.4px;
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    user-select: text;
    h1 {
      font-family: var(--Olivia);
      color: #FFFAFA;
      letter-spacing: 2.4px;
      text-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    }
  }
} */

.search-modal {
  visibility: hidden;
  background-color: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.15s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  z-index: 100;
  &__container {
    display: flex;
    align-items: center;
    form {
      display: flex;
      align-items: center;
      position: relative;
      margin: 60px auto;
      width: 700px;
      input {
        background-color: rgba(239, 239, 239, 0.99);
        color: rgb(110, 110, 110);
        border: none;
        border-radius: 6px;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        padding: 1em;
        width: 100%;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #878787;
        }
      }
      .search-button {
        position: absolute;
        right: 15px;
      }
    }
    svg {
      width: 24px;
      fill: #555;
    }
    .close-button {
      margin-left: 100px;
    }
    .modal-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

/* .find-product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  opacity: 1;
  padding: 1rem;
  position: relative;
  visibility: hidden;
  margin: 6.5em 2.5em;
  width: 700px;
  z-index: 1000;

  h2 {
    font-family: "Montserrat", sans-serif;
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 1rem 1rem 0.2rem;
      a {
        display: inline-block;
        position: relative;
        &::before {
          content: "";
          background-color: #cd960027;
          border: none;
          border-radius: 3px;
          position: absolute;
          width: 0;
          height: 100%;
          left: 0;
          bottom: 0;
          transition: all 0.3s ease;
        }
        &:hover::before {
          width: 100%;
          padding: 0.08em;
        }
      }
    }
  }
  p {
    padding: 1rem 1rem 0.5rem;
  }
} */

.find-product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  opacity: 1;
  padding: 1rem;
  position: absolute;
  visibility: hidden;
  top: 100%;
  left: 50%;
  transform: translateX(-59%);
  width: 90%;
  max-width: 700px;
  margin: 0;
  z-index: 1000;
  max-height: 70vh;
  overflow-y: auto;

  h2 {
    font-family: "Montserrat", sans-serif;
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 1rem 1rem 0.2rem;

      a {
        display: inline-block;
        position: relative;
        &::before {
          content: "";
          background-color: #cd960027;
          border-radius: 3px;
          position: absolute;
          width: 0;
          height: 100%;
          left: 0;
          bottom: 0;
          transition: all 0.3s ease;
        }
        &:hover::before {
          width: 100%;
          padding: 0.08em;
        }
      }
    }
  }

  p {
    padding: 1rem 1rem 0.5rem;
    text-align: center;
  }

  &.active {
    visibility: visible;
  }
}

.active {
  visibility: visible;
  opacity: 1;
}
